<div>
    <hr />
    <p id="dev-comment" class="weak">{{comment}}</p>
    <p class="weak">
        <span><a href="http://www.amazon.co.jp/registry/wishlist/2TM2C8W3AIRMH/?tag=otiai10-22">ほしいものリスト</a></span>
        <span class="pull-right">
            <a href="https://twitter.com/otiai10" target="_blank" class="stealth">by otiai10</a>
        </span>
    </p>
</div>