<li id="config-{{key}}">
    <div>
        <label class="clickable">
            <input type="checkbox" class="config-checkbox" {{#if value}}checked{{/if}} />
            <span class="emphasized italic">{{name}}</span>
        </label>
    </div>
</li>