<div>
    <h2>tips</h2>
    <ul>
        <li>
            いろんなゲームの設定参考置き場
            <a href="https://twitter.com/search?f=realtime&q=%23demado_memo&src=typd">#demado_memo</a>
        </li>
    </ul>
</div>
