/**
 * reset
 */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/**
 * global
 */
html {
    /*
    font-family: Helvetica Neue, Helvetica, Arial;
    */
    font-family: MeiryoUI;
}
.clickable {
    cursor: pointer;
}