<form class="custom" name="newmadoForm" novalidate>
  <fieldset>
    <legend>Add New</legend>

    <div class="row">
      <div class="large-12 columns">
        <label>Name</label>
        <input type="text" name="name" ng-model="newmado.name" ng-required="true" placeholder="艦これ">
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <label>URL</label>
        <input type="url" name="url" ng-model="newmado.url" ng-required="true" placeholder="http://www.dmm.com/netgame/social/-/gadgets/=/app_id=854854/">
      </div>
    </div>

    <div class="row">

      <div class="medium-3 columns">
        <div class="row collapse">
          <label>offset X</label>
          <div class="small-9 columns">
            <input
              type="number"
              name="x"
              min="0"
              placeholder="10"
              ng-model="newmado.bounds.offset.x"
              ng-change="adjust()"
              >
          </div>
          <div class="small-3 columns">
            <span class="postfix">px</span>
          </div>
        </div>
      </div>

      <div class="medium-3 columns">
        <div class="row collapse">
          <label>offset Y</label>
          <div class="small-9 columns">
            <input
              type="number"
              name="y"
              min="0"
              placeholder="10"
              ng-model="newmado.bounds.offset.y"
              ng-change="adjust()"
              >
          </div>
          <div class="small-3 columns">
            <span class="postfix">px</span>
          </div>
        </div>
      </div>

      <div class="medium-3 columns">
        <div class="row collapse">
          <label>width</label>
          <div class="small-9 columns">
            <input
              type="number"
              name="w"
              min="0"
              placeholder="400"
              ng-model="newmado.bounds.size.w"
              ng-change="adjust()"
              >
          </div>
          <div class="small-3 columns">
            <span class="postfix">px</span>
          </div>
        </div>
      </div>

      <div class="medium-3 columns">
        <div class="row collapse">
          <label>height</label>
          <div class="small-9 columns">
            <input
              type="number"
              name="h"
              min="0"
              placeholder="120"
              ng-model="newmado.bounds.size.h"
              ng-change="adjust()"
              >
          </div>
          <div class="small-3 columns">
            <span class="postfix">px</span>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="large-6 columns">
        <span ng-show="newmadoForm.name.$error.required" class="error">Nameは必須です</span>
        <span ng-show="newmadoForm.url.$error.required" class="error">URLは必須です</span>
        <span ng-show="newmadoForm.url.$error.url" class="error">URLの形式が正しくないです</span>
        <span ng-show="newmadoForm.x.$error.min" class="error">offset Xはマイナスを指定できません</span>
        <span ng-show="newmadoForm.y.$error.min" class="error">offset Yはマイナスを指定できません</span>
        <span ng-show="newmadoForm.w.$error.min" class="error">widthはマイナスを指定できません</span>
        <span ng-show="newmadoForm.h.$error.min" class="error">heightはマイナスを指定できません</span>
      </div>
      <div class="large-6 columns text-right">
        <button ng-click="cancel()" class="button tiny secondary"><i class="fa fa-close"></i></button>
        <button ng-click="visible(newmado)" ng-disabled="!newmadoForm.$valid" class="button tiny success"><i class="fa fa-eye"></i></button>
        <button ng-click="commit(newmado)" ng-disabled="!newmadoForm.$valid" class="button tiny success"><i class="fa fa-check"></i></button>
      </div>
    </div>

  </fieldset>
</form>
