<div class="row">
  <div class="small-6 columns" ng-repeat="mado in mados">
    <fieldset style="margin:0.8em 0;padding:0.8em;">
      <legend style="font-size:0.8em;">{{mado.name}}</legend>

      <i ng-if="!mado.launched" class="fa fa-chrome clickable" style="font-size:1.2em;margin-right:1em;" ng-click="launch(mado)"></i>
      <a ng-if="mado.launched"><i class="fa fa-chrome clickable" style="font-size:1.2em;margin-right:1em;" ng-click="focus(mado)"></i></a>

      <i ng-class="(mado.muted) ? 'fa fa-volume-off' : 'fa fa-volume-up'" class="clickable" ng-click="toggleMute(mado)" style="font-size:1.2em;margin-right:1em;"></i>

      <i ng-if="mado.launched" class="clickable fa fa-camera" ng-click="capture(mado)" style="font-size:1.2em;margin-right:1em;"></i>

    </fieldset>
  </div>
</div>
