<table>
    <tbody>
    <tr>
        <th>URL</th>
        <td colspan="4"><small id="vsp-u"></small></td>
    </tr>
    <tr>
        <th>SIZE</th>
        <td>width</td><td><input id="vsp-w" type="number" /></td>
        <td>height</td><td><input id="vsp-h" type="number"/></td>
    </tr>
    <tr>
        <th>OFFSET</th>
        <td>left</td><td><input id="vsp-l" type="number" /></td>
        <td>top</td><td><input id="vsp-t" type="number" /></td>
    </tr>
    <tr>
        <td colspan="5" style="text-align: right">
            <input id="commit-current-setting" type="submit" value="confirm" />
        </td>
    </tr>
    </tbody>
</table>
