@-webkit-keyframes plus {
  0%   { text-shadow: 0 0 40px #00d1b2; }
  20%  { text-shadow: 0 0  4px #00d1b2; }
  80%  { text-shadow: 0 0  4px #00d1b2; }
  100% { text-shadow: 0 0 40px #00d1b2; }
}
.empty {
  -webkit-animation: plus 2s infinite;
}

#table-nohover>tr {
  background-color: transparent;
}

i.fa.action {
    color:       #d0d0d0;
    transition: all 0.2s;
    position:   relative;
    font-size:      24px;
    cursor:      pointer;
    margin: 8px 16px 0 0;
}
i.fa.action:hover {
    color: #303030;
}
i.fa.action:hover:after {
  display:       block;
  float:          left;
  position:   absolute;
  top:            110%;
  content: attr(title);
  font-size:     0.4em;
  width:         120px;
  color:       #303030;
  text-align:     left;
}
